*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode'
}
body{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.input{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    background-color: #555555;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 40px;
    transition: translate 500ms ease, scale 0.5s linear;
}
.correctLetter{
    background-color: #3bae41
}
.correctLetterWrongPlace{
    background-color: #a6b223
}
.scaleUp{
    scale: 1.1;
}
.scaleDown{
    scale: 1;
}